body,
header,
nav,
ul,
li,
footer {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: sans-serif;
    background-color: rgba(184, 194, 228, 0.514);
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

header {
    top: 0;
    position: sticky;

    width: 100%;
    background-color: #282828;
    padding: 1em;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    z-index: 9999999999;
}




.containerLogo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-family: sans-serif;
    color: white;
    font-size: 1.5em;
    margin: 0.2em;
}

header .btnMenu {
    all: unset;
    cursor: pointer;
    margin: 0.2em 0.1em;
}

header .svg {
    width: 2em;
    height: 2em;
    fill: white;
}

header .nav {
    width: 100%;

    height: 0;
    overflow: hidden;
    transition: all .5s ease;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

header .nav.activo {
    /*  25% del vh(viewport width : ancho del dispositivo) */
    height: 25vh;
    /* position: sticky; */
}

header a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-family: sans-serif;
}

header .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


header .menu_item {
    list-style: none;
    margin: 1em 0;
}


/* TABLET HEADER*/
@media screen and (min-width:768px) and (max-width:1200px) {
    header {
        flex-direction: column;
        justify-content: space-between;
    }

    header h1 {
        font-size: 1.8em;
        margin: 0 .7em;
    }

    header .btnMenu {
        display: none;
    }

    header .nav {
        width: auto;
        max-height: 5vh;
        height: auto;
        margin: 1em 0;
    }

    header .menu {
        flex-flow: row nowrap;
    }

    header .menu_item {
        margin: 0 1.9em;
    }

    header a {
        font-size: 1.8em;
    }

}

/* PC HEADER*/
@media (min-width:1201px) and (max-width:2000px) {
    header {
        justify-content: space-around;
    }

    header h1 {
        font-size: 2em;
        margin: 0 .5em;
    }

    header .btnMenu {
        display: none;
    }

    header .nav {
        width: auto;
        max-height: 5vh;
        height: auto;
    }

    header .menu {
        flex-flow: row nowrap;
    }

    header .menu_item {
        margin: 0 3em;
    }

    header a {
        font-size: 1.8em;
    }

}

/* Estilos de Main*/
iframe {
    border:0;
    padding: 0;
    margin: 0;
    margin-top: -0.05em;
    width: 100%;
    height: 48vh;
}





aside{
    display: none;
}


.menu_link {
    text-decoration: none;
    color: white;
    font-size: 1.5em;

}



/* TABLET */
@media screen and (min-width:768px) and (max-width:1200px) {

    .menu_item {
        text-align: center;
        margin-left: 40px;
    }

    .menu_link {
        text-decoration: none;
        color: white;
        font-size: 1.9em;
    }
    iframe {
        height: 60vh;
    }
    aside {
        text-align: center;
        margin: 40px;
        padding: 50px;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        background-image: linear-gradient(to right, rgb(204, 129, 219), rgb(107, 85, 207));
    }

}

/* PC */
@media (min-width:1201px) and (max-width:2000px) {


    .menu_link {
        text-decoration: none;
        color: white;
        font-size: 2.2em;
    }

    aside {
        text-align: center;
        margin: 40px;
        padding: 50px;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        background-image: linear-gradient(to right, rgb(204, 129, 219), rgb(107, 85, 207));
    }
    iframe {
        height: 80vh;
    }
    
}



#hero img {
    width: 100%;
}

table {
    display: flex;
    justify-content: center;
    align-content: center;

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.3em;

    border-collapse: collapse;
    border-radius: 6px;

    margin-top: 13%;
    margin-bottom: 13%;
}


td,
th {
    padding: 8px;
}

tr {
    border: solid black 1px;
}


tr:nth-child(even):hover {
    background-color: #ffd2f950;
}


tr:nth-child(odd):hover {
    background-color: #739df727;
}


th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgba(32, 44, 85, 0.836);
    color: white;
}

#foto {
    display: none;
}

/* TABLET */
@media screen and (min-width:768px) and (max-width:1200px) {

    table {

        font-size: 2em;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    table img {
        border-radius: 20px;
    }

    #foto {
        display: block;
    }
}

/* PC */
@media (min-width:1201px) and (max-width:2000px) {

    table {

        font-size: 2.5em;
    }

    table img {
        border-radius: 20px;
    }

    #foto {
        display: block;
    }
}

footer {

    background-color: rgb(184, 194, 228);

    min-height: 180px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer a {
    color: rgb(68, 93, 161);
    text-decoration: none;
}

.infoParticipantes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.infoParticipantes a {
    margin-top: 8%;
    font-size: 1em;
    font-weight: bold;
}

.infoParticipantes a:hover {
    color: white;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 5%;
    text-align: center;
    border-radius: 20px;
}

.itemInfo img {
    border-radius: 100px;
    width: 55%;
    padding-top: 1.5%;
    cursor: pointer;
}


.infoGrupo {
    margin-top: 7%;
    margin-bottom: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

    padding: 2%;
}

.infoGrupo img {
    margin-right: 1%;
    width: 30px;
    cursor: pointer;
}

.infoGrupo a {
    font-size: 1.4em;
    font-weight: bold;
}

.infoGrupo a:hover {
    color: white;

}


/* TABLET */
@media screen and (min-width:768px) and (max-width:1200px) {
    .infoParticipantes a {
        font-size: 1.5em;
    }

    .infoGrupo img {
        width: 45px;
    }

    .infoGrupo a {
        font-size: 2.2em;
    }

}

/* PC */
@media (min-width:1201px) and (max-width:2000px) {


    .infoParticipantes a {
        font-size: 2.3em;
    }

    .itemInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        margin-top: 5%;
        text-align: center;
        border-radius: 20px;
    }

    .itemInfo img {
        border-radius: 100px;
        width: 100%;
        padding-top: 1.7%;

    }

    .infoGrupo a {
        font-size: 2.8em;
        font-weight: bold;
    }

    .infoGrupo img {
        width: 60px;
    }

}