body,
header,
nav,
ul,
li,
footer {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0.89);
    overflow-x: hidden;
}

img {
    max-width: 100%;
    padding: 0;
}

/* HEADER*/

header {
    top: 0;
    position: sticky;

    width: 100%;
    background-color: #252222d8;
    padding: 1em;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


.containerLogo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: -3em;
    align-items: center;
    cursor: pointer;
}

header h1 {

    color: white;
    font-size: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
}

header .btnMenu {
    all: unset;
    cursor: pointer;
    margin: .2em .1em;
}

header .svg {
    width: 2em;
    height: 2em;
    fill: white;

}

.itemsExtra .buscar{
    width: 1.4em;
    height: 1.4em;
    fill: white;
    margin: .4em;
}
.itemsExtra .carrito{
    width: 1.4em;
    height: 1.4em;
    filter: invert(1);
    margin: .4em;
}

header .nav {
    width: 100%;

    height: 0;
    overflow: hidden;
    transition: all .5s ease;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

header .nav.activo {
    /*  25% del vh(viewport width : ancho del dispositivo) */
    height: 30vh;
}

header a {
    text-decoration: none;
    color: white;
}

header .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


header .menu_item {
    list-style: none;
    margin: 1em 0;
}

.menu_link {
    text-decoration: none;
    color: white;
    font-size: 1.5em;

}

.itemsExtraOcultos{
    display: none;
}

/* TABLET HEADER*/
@media screen and (min-width:768px) and (max-width:1200px) {
    header {
        flex-direction: column;
        justify-content: space-between;
    }

    header h1 {
        font-size: 1.8em;
        margin: 0 .7em;
    }

    header .btnMenu {
        display: none;
    }

    header .nav {
        width: auto;
        max-height: 5vh;
        height: auto;
        margin: 1em 0;
    }

    header .menu {
        flex-flow: row nowrap;
    }

    header .menu_item {
        margin: 0 1.9em;
    }
    header a:hover {
        color: #823030;
        transition: all .5s ease;
    }

    .menu_item {
        text-align: center;
        margin-left: 40px;
    }
    .menu_link {
        text-decoration: none;
        color: white;
        font-size: 1.3em;
    }
    
    
}

/* PC HEADER*/
@media (min-width:1201px) and (max-width:2000px) {
    header {
        justify-content: space-around;
    }

    header h1 {
        font-size: 2em;
        margin: 0 .5em;
    }

    header .btnMenu {
        display: none;
    }

    header .nav {
        width: auto;
        max-height: 5vh;
        height: auto;
    }

    header .menu {
        flex-flow: row nowrap;
    }

    header .menu_item {
        margin: 0 1.5em;
    }

    header a:hover {
        color: #823030;
        transition: all .5s ease;
    }
    .menu_link {
        font-size: 1.5em;
    }
    .itemsExtra{
        display: none;
    }

    .itemsExtraOcultos{
        display: block;
        cursor: pointer;
    }

    .itemsExtraOcultos .buscar{
        width: 2em;
        height: 2em;
        fill: white;
        margin: .4em;
    }
    .itemsExtraOcultos .carrito{
        width: 2em;
        height: 2em;
        filter: invert(1);
        margin: .4em;
    }
    .itemsExtraOcultos .idioma{
        width: 2em;
        height: 2em;
        margin: .4em;
    }
    .itemsExtraOcultos .buscar:hover{
        filter: invert(1);
    }
    .itemsExtraOcultos .carrito:hover{
        filter: invert(0);
        
    }

}

/* CUSTOM */

.contaierCustom{
    margin-top: 4em;
    margin-bottom: 4em;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.camiseta{
    width: 27em;
    height: 27em;
    border: 2px solid #823030;
    border-radius: 100%;
    background-color: #e3e3e393;

    background-image: url('../imagenes/CamisetasHombre/camisetaNegra2.jpg');
    background-repeat:no-repeat;
   background-size:cover;
   background-position: center;
}

.camiseta img{
   width: 100px;
   height: 140px;
   padding: 2em;
}


.parametros{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 2.5em 0;
    color: white;
    
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 14em;
    height: 10em;
}

.texto input{
    margin: .3em;
}

.txtCustom{
    width: 10em;
    height: 2em;
    border-radius: 20px;
}

.btnCustom{
    background-color: aliceblue;
    cursor: pointer;
    border-radius: 20px;

}

.parametro{
    width: 9em;
    height: 14em;
}

.texto,.parametro{
    text-align: center;
    background-color: #823030;
    border-radius: 20px;
    margin: .3em;

   
}

.otros{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.opcionCustom{
    cursor: pointer;
}

/* TABLET CUSTOM*/
@media screen and (min-width:768px) and (max-width:1200px) {

    .texto{
        width: 20em;
        height: 15em;
    }
  
    .txtCustom{
        width: 17em;
        height: 3em;
        border-radius: 20px;
    }
    
    .btnCustom{
        width: 15em;
        height: 3em;
        border-radius: 20px;
    }
    .subtitulo{
        font-size: 2em;
    }
    
    .parametro{
    width: 15em;
    height: 17em;
}
    
}

/* PC CUSTOM*/
@media (min-width:1201px) and (max-width:2000px) {
    .texto{
        width: 20em;
        height: 15em;
    }
  
    .txtCustom{
        width: 17em;
        height: 3em;
        border-radius: 20px;
    }
    
    .btnCustom{
        width: 15em;
        height: 3em;
        border-radius: 20px;
    }
    .subtitulo{
        font-size: 2em;
    }
    
    .parametro{
    width: 15em;
    height: 17em;
}

}




/* FOOTER */


footer {

    background-color: #471818ce;

    min-height: 180px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    color: white;
}

.infoParticipantes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #823030;

    text-align: center;
    border-radius: 20px;
    margin: 5% .3em;
}

.itemInfo h5 {
    margin-top: 4%;
    font-size: 1em;
    font-weight: bold;
}

.itemInfo p {
    margin-top: 1%;
    font-size: .7em;
}

.infoSocial {
    margin-top: 2%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2%;
}

.infoSocial img {
    margin-right: 1%;
    width: 30px;
    cursor: pointer;
}

footer #logo{
    width: 6em;
}


/* TABLET FOOTER*/
@media screen and (min-width:768px) and (max-width:1200px) {


    .itemInfo {
        text-align: center;
        border-radius: 20px;
        margin: 5% 1em;
        height: 14em;
    }
    
    .itemInfo h5 {
        font-size: 1.7em;
    }
    
    .itemInfo p {
        margin-top: 1%;
        font-size: 1em;
        text-align: center;
    }
    
    
    .infoSocial img {
        width: 50px;
    }
    
    footer #logo{
        width: 8em;
    }

}

/* PC FOOTER*/
@media (min-width:1201px) and (max-width:2000px) {

    .itemInfo {
        text-align: center;
        border-radius: 20px;
        margin: 5% 1em;
        height: 20em;
    }
    
    .itemInfo h5 {
        font-size: 2em;
    }
    
    .itemInfo p {
        margin-top: 1%;
        font-size: 1.5em;
        text-align: center;
    }
    
    .infoSocial img {
        width: 50px;
    }
    
    footer #logo{
        width: 8em;
    }

}

