body,
header,
nav,
ul,
li,
footer {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0.89);
    overflow-x: hidden;
}

img {
    max-width: 100%;
    padding: 0;
}

header {
    top: 0;
    position: sticky;

    width: 100%;
    background-color: #252222d8;
    padding: 1em;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


.containerLogo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: -3em;
    align-items: center;
    cursor: pointer;
}

header h1 {

    color: white;
    font-size: 1.5em;
    margin-left: 1em;
    margin-right: 1em;
}

header .btnMenu {
    all: unset;
    cursor: pointer;
    margin: .2em .1em;
}

header .svg {
    width: 2em;
    height: 2em;
    fill: white;

}

.itemsExtra .buscar{
    width: 1.4em;
    height: 1.4em;
    fill: white;
    margin: .4em;
}
.itemsExtra .carrito{
    width: 1.4em;
    height: 1.4em;
    filter: invert(1);
    margin: .4em;
}

header .nav {
    width: 100%;

    height: 0;
    overflow: hidden;
    transition: all .5s ease;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

header .nav.activo {
    /*  25% del vh(viewport width : ancho del dispositivo) */
    height: 30vh;
}

header a {
    text-decoration: none;
    color: white;
}

header .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}


header .menu_item {
    list-style: none;
    margin: 1em 0;
}

.menu_link {
    text-decoration: none;
    color: white;
    font-size: 1.5em;

}

.itemsExtraOcultos{
    display: none;
}

/* TABLET HEADER*/
@media screen and (min-width:768px) and (max-width:1200px) {
    header {
        flex-direction: column;
        justify-content: space-between;
    }

    header h1 {
        font-size: 1.8em;
        margin: 0 .7em;
    }

    header .btnMenu {
        display: none;
    }

    header .nav {
        width: auto;
        max-height: 5vh;
        height: auto;
        margin: 1em 0;
    }

    header .menu {
        flex-flow: row nowrap;
    }

    header .menu_item {
        margin: 0 1.9em;
    }
    header a:hover {
        color: #823030;
        transition: all .5s ease;
    }

    .menu_item {
        text-align: center;
        margin-left: 40px;
    }
    .menu_link {
        text-decoration: none;
        color: white;
        font-size: 1.3em;
    }
    
    
}

/* PC HEADER*/
@media (min-width:1201px) and (max-width:2000px) {
    header {
        justify-content: space-around;
    }

    header h1 {
        font-size: 2em;
        margin: 0 .5em;
    }

    header .btnMenu {
        display: none;
    }

    header .nav {
        width: auto;
        max-height: 5vh;
        height: auto;
    }

    header .menu {
        flex-flow: row nowrap;
    }

    header .menu_item {
        margin: 0 1.5em;
    }

    header a:hover {
        color: #823030;
        transition: all .5s ease;
    }
    .menu_link {
        font-size: 1.5em;
    }
    .itemsExtra{
        display: none;
    }

    .itemsExtraOcultos{
        display: block;
        cursor: pointer;
    }

    .itemsExtraOcultos .buscar{
        width: 2em;
        height: 2em;
        fill: white;
        margin: .4em;
    }
    .itemsExtraOcultos .carrito{
        width: 2em;
        height: 2em;
        filter: invert(1);
        margin: .4em;
    }
    .itemsExtraOcultos .idioma{
        width: 2em;
        height: 2em;
        margin: .4em;
    }
    .itemsExtraOcultos .buscar:hover{
        filter: invert(1);
    }
    .itemsExtraOcultos .carrito:hover{
        filter: invert(0);
        
    }

}

/* CATALOGO */

.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.encabezado p{
    color: #823030;
    font-size: 1em;
    font-weight: bold;
}


.catalogo{
    padding: 1em;
    display: grid;
    grid-template-columns: auto auto;
    gap: .8em;
}

#bannnerHombre{
    background-image: url('../imagenes/wp5300024-frosty-autumn-wallpapers_catalogo.jpg');
    background-repeat:no-repeat;
   background-size:cover;
   background-position: center;
   border-radius: 20px;
}

#bannnerMujer{
    background-image: url('../imagenes/wp5300024-frosty-autumn-wallpapers_catalogo.jpg');
    background-repeat:no-repeat;
   background-size:cover;
   background-position: center;
   border-radius: 20px;
}

.imgCatalogo img{
    border-radius: 20px;
}

.imgCatalogo p{
    text-align: center;
    margin: .4em;
    font-size: 1em;
    color: #823030;
}

span{
    font-weight: bold;
    font-size: 1.3em;
}


.menuCatalogo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 4em;
    padding: 1em;
    border-radius: 20px;
    background-color: #8d8a8a67;

}

.flechaAtras,.flechaDelante{
    fill: #823030 ;
    width: 3em;
    height: 3em;
    cursor: pointer;
}

.numMenu{
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 1.2em;
    height: 1.2em;
    font-size: 1.4em;
    color: #823030;
    border-radius: 20px;
    cursor: pointer;
}

/* TABLET CATALOGO*/
@media (min-width:769px) and (max-width:1200px) {

    .encabezado p{
        font-size: 1.6em;
    }
   
.catalogo{
    padding: 3em;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2em;
}


.imgCatalogo p{
    text-align: center;
    margin: .4em;
    font-size: 1.6em;
}

span{
    font-weight: bold;
    color: #823030;
    font-size: 1.3em;
}

.flechaAtras,.flechaDelante{
    width: 5em;
    height: 5em;
    cursor: pointer;
}

.numMenu{
    width: 1.6em;
    height: 1.2em;
    font-size: 1.6em;
}

}
    
/* PC CATALOGO*/
 @media (min-width:1201px) and (max-width:2000px) {
    
    .encabezado p{
        font-size: 2.6em;
    }
       
.catalogo{
    padding: 3.5em;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3em;
}


.imgCatalogo p{
    text-align: center;
    margin: .4em;
    font-size: 2em;
}

span{
    font-weight: bold;
    color: #823030;
    font-size: 1.3em;
}

.flechaAtras,.flechaDelante{
    width: 5em;
    height: 5em;
    cursor: pointer;
}

.numMenu{
    width: 1.5em;
    height: 1.3em;
    font-size: 3em;
}
}

footer {

    background-color: #471818ce;

    min-height: 180px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    color: white;
}

.infoParticipantes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #823030;

    text-align: center;
    border-radius: 20px;
    margin: 5% .3em;
}

.itemInfo h5 {
    margin-top: 4%;
    font-size: 1em;
    font-weight: bold;
}

.itemInfo p {
    margin-top: 1%;
    font-size: .7em;
}

.infoSocial {
    margin-top: 2%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2%;
}

.infoSocial img {
    margin-right: 1%;
    width: 30px;
    cursor: pointer;
}

footer #logo{
    width: 6em;
}


/* TABLET FOOTER*/
@media screen and (min-width:768px) and (max-width:1200px) {


    .itemInfo {
        text-align: center;
        border-radius: 20px;
        margin: 5% 1em;
        height: 14em;
    }
    
    .itemInfo h5 {
        font-size: 1.7em;
    }
    
    .itemInfo p {
        margin-top: 1%;
        font-size: 1em;
        text-align: center;
    }
    
    
    .infoSocial img {
        width: 50px;
    }
    
    footer #logo{
        width: 8em;
    }

}

/* PC FOOTER*/
@media (min-width:1201px) and (max-width:2000px) {

    .itemInfo {
        text-align: center;
        border-radius: 20px;
        margin: 5% 1em;
        height: 20em;
    }
    
    .itemInfo h5 {
        font-size: 2em;
    }
    
    .itemInfo p {
        margin-top: 1%;
        font-size: 1.5em;
        text-align: center;
    }
    
    .infoSocial img {
        width: 50px;
    }
    
    footer #logo{
        width: 8em;
    }

}

